In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import copy
import warnings
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, LeaveOneOut, KFold
from sklearn.svm import SVR
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
line_names_1 = pd.read_excel('../data/cell line names 1.xlsx', header=None)
line_names_2 = pd.read_excel('../data/cell line names 2.xlsx', header=None)

FileNotFoundError: [Errno 2] No such file or directory: '../data/cell line names 1.xlsx'

In [ ]:
line_names_2.index = line_names_2[1]
line_names_1.index = line_names_1[1]

In [ ]:
line_names_1.head()

In [ ]:
line_names_2.head()

In [ ]:
cell_line_names_table = pd.concat([line_names_1, line_names_2], axis=1)
cell_line_names_table = cell_line_names_table.drop([1], axis=1)
cell_line_names_table.columns = ['GSM name', 'cell line name']
cell_line_names_table = cell_line_names_table.dropna()
print(cell_line_names_table.shape[0], 'cell lines')
cell_line_names_table.head()

In [25]:
cell_line_names_table.to_csv('../data/cell line table.csv')

In [5]:
data = pd.read_csv('../data/cell line table.csv', index_col=0)

In [6]:
data.head()

                              GSM name cell line name
5500024030401071707289.A01  GSM1687636         BxPC-3
5500024030401071707289.A02  GSM1687912         KMOE-2
5500024030401071707289.A03  GSM1688002        MFM-223
5500024030401071707289.A04  GSM1688159         NUGC-3
5500024030401071707289.A05  GSM1688163         OC-314

In [10]:
data[data["GSM name"] == "GSM1687636"][data["cell line name"] == "BxPC-3"]

                              GSM name cell line name
5500024030401071707289.A01  GSM1687636         BxPC-3

In [21]:
#data.reset_index()
data[1:2]

                              GSM name cell line name
5500024030401071707289.A02  GSM1687912         KMOE-2